<!DOCTYPE html>
<html ng-app="dawgPizzaShoppingApp">
<head>
	<title>Dawg Pizza | Home</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta charset="utf-8">
	<meta name="author" content="Ang Li">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<div class="container">
		<header>
			<div class="row">
				<div class="col-md-6 left-bar">
					<a href="index.shtml">
						<div class="branding">
							<img class="logo" src="img/logo.png" alt="logo of dawg pizza">
							<h1>Dawg Bites.</h1>
						</div>
					</a>
				</div> <!-- left bar -->

				<div class="col-md-6 right-bar">
					<nav>
						<ul class="nav nav-stacked">
							<li><a href="index.shtml">Home</a></li>
							<li><a href="menu.shtml">Our Menu</a></li>
							<li><a href="about.shtml">About Us</a></li>
						</ul>
					</nav>

					<div class="order-info">
						<div class="current-status" ng-controller="bizHourControl">
							<h3>We are 
								<strong ng-if="bizHours.isOperating()">open</strong> 
								<strong ng-if="!bizHours.isOperating()">closed</strong>

								now.
							</h3>
						</div>
						<div class="business-hours">
							<p>Business Hours: 10:00am to 11:00pm, Monday through Saturday.</p>
						</div>
						<div class="order-prompt">
							<div class="order-call">
								<h3>To order, call:</h3>
							</div>
							<div class="number-box">
								<a href="tel:206-555-1212"><p>206-555-1212</p></a>
							</div>
						</div>
					</div>

				</div><!-- right bar -->

			</div><!-- header row -->
		</header>